@charset "UTF-8";
/* CSS Document Custom OBPyMES */
* { font-family: Open Sans }
.logo {
    background-image: url("../images/santander.png");
    height: 75px;
    width: 171px;
    background-repeat: no-repeat;
    background-position: left top;
    
}

.required::before{
    content: "*";
    color: #ec0000;
    font-size: 80%;
  
}

.top-header {
    height: 75px;
    background-color: #EC0000;
    
}

.menu-help a:link, a:hover{
    color: #fff;
    font-size: 14px;
}


.vh-parent {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.vh-child {
   display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu-help {
    color: #fff;
   float: right !important;
}



.process-header {
    height: 162px;
    
    background: rgba(124,26,29,1);
background: -moz-linear-gradient(top, rgba(124,26,29,1) 0%, rgba(146,35,29,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(124,26,29,1)), color-stop(100%, rgba(146,35,29,1)));
background: -webkit-linear-gradient(top, rgba(124,26,29,1) 0%, rgba(146,35,29,1) 100%);
background: -o-linear-gradient(top, rgba(124,26,29,1) 0%, rgba(146,35,29,1) 100%);
background: -ms-linear-gradient(top, rgba(124,26,29,1) 0%, rgba(146,35,29,1) 100%);
background: linear-gradient(to bottom, rgba(124,26,29,1) 0%, rgba(146,35,29,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c1a1d', endColorstr='#92231d', GradientType=0 );
        
}

.main-view {
    margin-top: 25px;
    
}

.container-generic h1{
    font-size: 22px;
    color: #000;
    font-weight: 300
    }

.container-generic h1 span{
    font-weight: 400;
    }


.main-view h1{
    font-size: 22px;
    color: #000;
    font-weight: 300
    }

.main-view h1 span{
    font-weight: 400;
    }

.title-head {
    color: #fff;
    font-size: 28px;
    
}

.col-sub-head {
    background-color: #9CBB41;
    height: 28px;
    font-size: 14px;
    color: #fff;
    margin-top: 25px;
}



.row-main-view {
 background-color: #fff;
  
}

.row-main-view div {
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
}



.row-main-view ul {
    margin-top: 20px;
    line-height: 28px;
    list-style: none;
}

.row-main-view ul li{
   padding-left: 1em; 
 text-indent: -.9em;
}

.row-main-view ul li span{
color: #ec0000;
font-weight: 600;    
}

.row-main-view p span{
color: #ec0000;
font-weight: 600;    
}

.row-main-view span{
color: #ec0000;
font-weight: 600;    
}



.row-main-view ul li::before{
    content: "• ";
    color: #ec0000;
    font-size: 150%;
}



.footer-view {
    height: 66px;
    background-color: #FAFAFA;
    margin-top: 30px;
    -webkit-box-shadow: 0 4px 4px -2px #ccc;
   -moz-box-shadow: 0 4px 4px -2px #ccc;
        box-shadow: 0 4px 4px -2px #ccc;
    
}

.btn-generic{
 border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 0px solid #ec0000;
min-height: 45px;
min-width: 150px;  
}
.btn-generic-small{
 border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 0px solid #ec0000;
height: 35px;
padding-left: 20px;
padding-right: 20px;    
}

.btn-red {
  color: #fff;
  background-color: #ec0000;
  border-color: #ec0000;
}

.btn-red:hover {
  color: #ccc;
}

.mkt-header {
    height: 162px;
    background-image: url("../images/bg-header.jpg");
    background-repeat: no-repeat;
}

.m-top25 {
     margin-top: 25px;
}

.form-control {
    
    border-radius: 0;
    -webkit-appearance: none;
}

.generic-row {
    background-color: #fff;
}

.row-form-controls {
  
    padding-left: 50px;
    padding-right: 50px;
}

.container-generic {
    background-color: #fff;
    margin-top: 25px;
}






/*Reset Check Boxes and radios*/


.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
    padding-left: 30px; }
.checkbox label span{
color: #ec0000; 
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  margin-left: 0px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
  margin-left: 0px;
  padding-left: 3px;
  padding-top: 0px;
  font-size: 14px;
      color: #555555; }

input[type="checkbox"]  {
  opacity: 0;
    z-index: 1; }
input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
input[type="checkbox"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";}
input[type="checkbox"]:indeterminate + label::after{
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}


input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  background-color: #ec0000;
  border-color: #ec0000; }
input[type="checkbox"]:checked + label::after,
input[type="radio"]:checked + label::after {
  color: #fff; }


input[type="checkbox"]:indeterminate + label::before,
input[type="radio"]:indeterminate + label::before {
  background-color: #ec0000;
  border-color: #ec0000;
}

input[type="checkbox"]:indeterminate + label::after,
input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}



input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c"; }
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff; }
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff; }



.mini-txt {
    font-size: 10px;
}


/*Reset Bootstrap*/

.tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {background-color: #ec0000;}

.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0)
}
.tooltip.in{
    opacity:.8;
    filter:alpha(opacity=80)
}
.tooltip.top{
    margin-top:2px;
   
}
.tooltip.right{
    margin-left:2px
}
.tooltip.bottom{
    margin-top:2px
}
.tooltip.left{
    margin-left:-2px
}
.tooltip.top .tooltip-arrow{
   
display: none;
 
}
.tooltip.left .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #000
}
.tooltip.bottom .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #000
}
.tooltip.right .tooltip-arrow{
    top:50%;
    left:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-right:5px solid #000
}
.tooltip-inner{
    max-width:200px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0
}
.link-red:hover {
  color: #ec0000;
  cursor: pointer;
}