<div class="row">    
	<div class="col-md-12 col-sub-head vh-child">
		<span><span class="glyphicon glyphicon-time"></span> Puedes completar la solicitud en menos de 15 minutos</span>
	</div>
</div>
<div class="row row-main-view" ng-controller="RequirementsCtrl as requirements">
	<div class="col-md-12">
		<h1>Por favor, revisa las condiciones y documentos 
			<span>que necesitarás para abrir la cuenta:</span>
		</h1>
	</div>
	<div class="col-md-6"><h1>Condiciones</h1>
		Estas son las condiciones para abrir tu cuenta:
		<div>
			<ul>
				<li ng-repeat="condition in requirements.conditions" ng-bind-html="condition.content"></li>
			</ul>
		</div>
    </div>
    <div class="col-md-6"><h1>Documentos</h1>
		Estos son los documentos que necesitarás para abrir tu cuenta:
		<ul>
			<li ng-repeat="document in requirements.documents" ng-bind-html="document.content"></li>
		</ul>
    </div>
    <div class="col-md-12">
		<h1>Recuerda</h1>
		<p>Puedes <span>recuperar</span> tu solicitud durante los siguientes <span ng-bind="requirements.days"></span> días con tu RFC y el código que recibirás en tu celular.</p>
    </div>
</div>